ccsf	{ font-family:"Verdana, Arial, sans-serif"; font-size:1.2em; }
cnit131	{ display:block; color:red; }
cnit131a { display:block; color:blue; }
cnit132 { display:block; color:green; }
cnit133 { display:block; color:purple; }
instructor { font-style:italic; font-weight:bold; }
