@namespace wt url(http://www.ccsf.edu/west);
@namespace et url(http://www.ccsf.edu/east);

wt|name { background-color: yellow; color: blue; display: block; width: 10em; margin-left: 1em; text-align: center;}
et|name { background-color: skyblue; color: red; display: block; width: 10em; margin-left: 1em; text-align: center;}
