body {
    background: #eee ;
}
.navbar{
    background: #AA8B32;
}
.footer {
    background: #AA8B32;
    color: white;
}
.card-header{
    background-color: #D4AF37;
}
.card-body{
    background-color: #E6E6FA;
}
.one{
    padding-top: 30px;
}
/* button {
  color: #956F00;
  letter-spacing: 1.2px;
  line-height: 41px;
  font-weight: bolder;
} */
h5{
  color: #956F00;
  letter-spacing: 1.2px;
  line-height: 41px;
  font-weight: bolder;
}
ul{
  background-color: #F0F0FC;
  list-style-type: square;
  margin-left: 10px;
}
ul a{
  letter-spacing: 1.2px;
  font-size: 1em;
  text-decoration: none;
  line-height: 41px;
}
ul a:link{
  color: #8D80AD;
}
ul a:visited{
  color: #8D80AD;
}
ul a:hover{
  color: #38E4AE;
}


