body{
  background-color: #CCFFFF;
  font-family: "times new roman";
  font-size: 1em;
}

div {
  width:760px;
  margin:0 auto;
  border:2px double blue;
  background: url(computer1.jpg) no-repeat  bottom right, url(computer1.jpg) no-repeat, linear-gradient(white, white, white, white, white, #A9FFD4);
  background-color:#FFF;
}

h1{
  text-align:center;
  color:#330066;
  font-style: italic;
}

h3{
  text-align:center;
  color:#FF0000;
  font-size:1.5rem;
  font-style: italic;
}

p:first-of-type {
  text-align:center;
  font-size: 1.25rem;
}

span{
  background-color: yellow;
  font-weight: bolder;
}

p:last-of-type {
  text-align:center;
  letter-spacing:5px;
}

img{
  width: 100%;
  float: left;
  margin-right:20px;
}

table{
  width: 300px;
  border: 2px solid #808080;
  border-collapse: separate;
  border-spacing: 2px;
  border-bottom-color: black;
  border-right-color: black;
 }

th, td {
  border: 1px solid #666666;
  border-top-color: black;
  border-left-color: black;
}

th{
  color:#CC0000;
}

tr:nth-child(even){
  background-color:#999999;
}

section p:first-letter{
  font-size: 3.12rem; 
  color:#FF0000;
  font-style: italic;
  font-weight: bolder; 
  text-align:left;
}

section p:first-of-type{
  font-size: 1rem;
  text-align:left;
  color:#000000;
}

section p:last-of-type{
  text-align:left;
  color:#000000;
  letter-spacing:normal;
}

footer p:last-of-type{
  font-size: 1rem;
  text-align:left;
  color:#000000;
  letter-spacing:normal;
  display: block;
}

footer{
  position: inherit;
  height: 122px;
  padding-bottom: 0;
}

li{
  list-style-image: url('trillium.gif');
  list-style-type: disc;
}
