html,body,header,nav,table,div,ul,li,h1,p,a {
    padding: 0;
    border: 0;
    margin: 0;
}
body {
  font-size: 1em;
  margin-top: 50px;
  text-align: center;
  color: #8D80AD;
  background-color: #ccffff;
  -webkit-font-smoothing: antialiased;
  font-family: 'Times New Roman', sans-serif;
}
.content {
  background-color: #ffffff;
  max-width: 750px;
  border : #8D80AD dashed 1.5px;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 7px;
}
nav {
  background-color: #d3d3d3;
  font-weight: bold;
  width: 400px;
  margin: auto;
}
a {
  letter-spacing: 1.2px;
  font-size: 1em;
  text-decoration: none;
  line-height: 20px;
  padding-left: 5px;
}
a:link {
  color: #544C67;
}
a:visited {
  color: #8D80AD;
}
a:hover {
  color: #544C67;
}
ul li {
  list-style-type: none;
  padding-bottom: 10px;
  font-size: 1.2em;
  text-align: left;
  margin-left: 100px;
}
h1 {
  font-size: 1.6em;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 15px;
}
p {
  padding-top: 15px;
  font-size: 1.2em;
}
#panel, #flip {
  padding: 5px;
  text-align: center;
  background-color: #F4FFFF;
  border: solid 1px #c3c3c3;
}
#flip {
  margin-left: 220px;
  margin-right: 220px;
}
#panel {
  padding: 20px;
  display: none;
}
.tableStudentGrades {
  max-width: 750px;
  margin: auto;
  width: 350px;
  text-align: left;
  border-collapse: collapse;
}
form {
  margin-top: 30px;
}
#invalid_input {
  color: red;
  padding-top: 20px;
  font-weight: bold;
}
.instruction {
  padding-bottom: 15px;
}
.temp_inout {
  text-align: right;
}
#messageResult {
  padding-top: 15px;
  font-weight: bolder;
}
.right {
  padding-bottom: 5px;
}
.box {
  padding-bottom: 10px;
  padding-right: 100px;
}
.submit {
  margin-left: 40px;
}
#retake {
  margin-left: 170px;
  color: red;
  font-size: 1em;
  font-weight: bold;
  padding-top: 10px;
}
.studentgrades {
  padding-left: 50px;
}
.grade {
  text-align: right;
}
#salesperson {
  margin: 0 auto;
}
.total_sales {
  font-weight: bold;
}
label {
  display: inline-block;
  width: 5em;
}
 .inputitems {
  padding-top: 30px;
  padding-bottom: 20px;
 }
.t {
  text-align: right;
}
