body{
  background-color: #ffffff;
  font-family: "times new roman";
  font-size: 1rem;
}

div {
  margin:0 auto;
}

h1{
  text-align:center;
  color:#330066;
  font-style: italic;
}

p{
  font-size: 1.2rem;
  text-align:left;
}

.flex-container{
  display:flex;
  flex-flow: row wrap;
  justify-content:space-between;
  width:100%;
  height:auto;
  background-color:lightgrey;
}
