.navbar {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: .1rem;
}
.nav-item {
  padding: .5rem;
}
.nav-link {
  color: #5b5555;
}
.nav-link.active,
.nav-link:hover {
color: #4981b3;
}
p{
  font-family:Arial, Helvetica, sans-serif; /* the font family for all text on the web page is now either arial, helvetica or a sans-serif font if those two are not available */
  font-size:1.3rem; /* all normal text on the web page has a base font size of 14px now */
}
.list-unstyled {
  font-size: 1.3rem;
}
#contact-form {
  font-size: 1.3rem;
}
#buttonSend {
  font-size: 1.3rem;
  font-weight: bolder;
  color: #ffffff;
  letter-spacing: 0.5rem;
}
.table {
  font-size: 1.3rem;
}
